/* Add CSS Styling */

.odd {
    background-color: rgb(239, 129, 166);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#eventwo {
    color: blue;
    font-size: 36px;
}

#evenfour {
    background-color: greenyellow;
    font-size: 24px;
    font-weight: bold;
}

.odd.three {
    font-size: 24px;
}