* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  text-align: center;
  padding: 8px;
  margin-left: 120px;
  margin-right: 120px;
  
  
}